*{
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* nav section start here */
nav{
    display: flex;
    justify-content: space-between;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    display: flex;
    align-items: center;
    margin-left: 200px;
    gap: 16px;
}
ul{
    display: flex;
    margin-right: 200px;
    align-items: center;
}
li a{
    margin-right: 32px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 700;   
}
.nav-span{
color: #FF42A5;
}
.nav-btn{
    padding: 20px 35px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}
.icon{
    margin: 0px 10px;
}

/* nav section end here */

/* banner section start here */

.banner-section{
    display: flex;
    height: 700px;
    justify-content: space-between;
   align-items: center;
   
    width: 100%;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: start;
}
.banner-content{
    margin-left: 200px;
    height: 700px;
   padding-top: 300px; 
}

.banner-heading{
    color: #0B0223;
    font-size: 48px; 
    font-weight: 600;
    text-transform: uppercase;
}
.banner-game{
    font-size: 95px; 
    font-weight: 800;
    text-transform: uppercase;
    color: #8758F1;
}
.des{
    color: #534C64;  
}

.icon-banner{
    margin: 10px 12px;

}
.banner-btn1{
    padding: 21px 40px; 
    gap: 10px;
    align-items: flex-start;
    display: inline-flex;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
font-size: 20px;
font-weight: 600;
color: #FFF;
text-transform: uppercase;
margin-top: 30px;
}
.banner-btn2{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px; 
    border-radius: 48px;
    background: #4EC5F7;  
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.img-banner{
    height: 650px;
    width: 550px;  
}
.banner-images{
    height: 700px;
    width: 711px;  
}  

/* banner section end here */

/* gammer section start here */
.gammer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gammer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.gammer-content{
   margin-right: 140px;
   text-align: end; 
}
.gammer-img{
  width: 864px;
  padding-left: 120px;
  padding-right: 50px;
  margin: auto;
}
.gammer-title{
    font-size: 48px; 
    font-weight: 700;
   color:  #8758F1
}
.gammer-des{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #534C64;
    width: 520px;  
}

.gammer-btn{
    padding: 21px 40px;
    gap: 10px;  
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;

}
.gammer-extra{
    margin-top: 20px;
    
}
.game-img{
    width: 750px;
}

/* media query and responsive start here */

@media screen and (max-width:768px) {
    .nav-container{
        width: 30%;
        margin-left: 0px ;
        margin-left: 5px;
    }
    
    ul{
        margin: 0px;
    }
    li a{
        margin-right: 15px;
    }
    .nav-btn{
        padding: 10px 15px;
    }
    .icon{
        margin: 0px 5px;
    }
    /* nav section end here */

     /* banner section start here */

     .banner-section{
        width: 100%;
     }
     .banner-content{
        width: 350px;
        margin: 0px;
     }
     .banner-images{
       width: 50%;
     }
     .img-banner{
        height: 450px;
        width: 370px;
        margin-top: 75px;
     }
     /* banner section end here */
     /* gamers section start here */
     .gammer-content{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
     }
     .gammer-img{
        width: 100%;
        margin: 0%;
        padding: 0%;
     }
     .game-img{
        width:100%;

     }
     .gammer-des{
        width: 350px;
     }
}





@media screen and (max-width:500px) {

    /* nav section responsive start */
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0px;
       margin-top: 100px;
       
       } 
       ul{
        
        flex-direction: column;
        width: 100%;
        margin: auto;
       }
       .nav-container{
        width: 100%;
        justify-content: center;
       }
       li a{
        display: block;
       margin-top: 64px;
       }
       /* nav section end here */

       /* banner section start here */
       .banner-section{
        flex-direction: column-reverse;
        height: 500px;
        width: 100%;
        margin-top: 850px;

        
       
        
       }
       .img-banner{
        width: 400px;
        height: 400px;
        
        
       }
       .banner-images{
         width: 100%;
         text-align: center;
         
         
       }
       
       .banner-content{
        width: 100%;
        text-align: center;
       padding-bottom: 70px;
       ;
       padding-top: 80px;
       margin: auto;
       
       
       
       }
       /* gammer section start here */

       .gammer-container{
        flex-direction: column;
       }
       .gammer-img{
        width: 100%;
        padding: 0;
       }
       .game-img{
        width: 100%;
       }
       .gammer-content{
        width: 100%;
        margin: 0;
        text-align: center;
       }
       .gammer-des{
        width: 100%;
        margin-top: 40px;
       }

}    
