*{
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* nav section start here */
nav{
    display: flex;
    justify-content: space-between;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    display: flex;
    align-items: center;
    margin-left: 240px;
    gap: 16px;
}
ul{
    display: flex;
    margin-right: 240px;
    align-items: center;
}
li a{
    margin-right: 32px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 700;   
}
.nav-span{
color: #FF42A5;
}
.nav-btn{
    padding: 20px 35px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}
.icon{
    margin: 0px 10px;
}













/* media query and responsive start here */

@media screen and (max-width:768px) {
    .nav-container{
        width: 30%;
        margin-left: 0px
        ;
        margin-left: 5px;
    }
 
    ul{
        margin: 0px;
    }
    li a{
        margin-right: 15px;
    }
    .nav-btn{
        padding: 10px 15px;
    }
    .icon{
        margin: 0px 5px;
    }

}





@media screen and (max-width:500px) {

    /* nav section responsive start */
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0px;
       margin-top: 100px;
       
       
        
       } 
       ul{
        
        flex-direction: column;
        width: 100%;
        margin: auto;
        
       }
       .nav-container{
        width: 100%;
        justify-content: center;
       }
       li a{
        display: block;
       margin-top: 64px;
       
       
       }
}
